%p#notice= notice

%p
  %b Title:
  = @article.title
%p
  %b Text:
  = @article.text
%p
  %b Author email:
  = @article.user&.email
%p
  %b Status:
  = @article.status

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path
