#alerts
  - if alert
    .alert.alert-danger.alert-dismissible.fade.show{role: 'alert'}
      = alert
      %button.close{type: 'button', data: { dismiss: 'alert' }}
        %span{"aria-hidden" => "true"} &times;

  - elsif notice
    .alert.alert-primary.alert-dismissible.fade.show{role: 'alert'}
      = notice
      %button.close{type: 'button', data: { dismiss: 'alert' }}
        %span{"aria-hidden" => "true"} &times;
